@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-weight: bold;
}

header {
	display: flex;
	justify-content: center;
	height: 120px;
}

.container {
	display:flex;
	justify-content:space-between;
	width: 1200px;

}

.logo {

	display: flex;
	align-items: center;	
	
}

.menu {
	display: flex;
	align-items: center;
}

nav ul, nav li {
	list-style: none;
	margin: 0;
	padding: 0;
	
}

nav ul {
	display: flex;
}

nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #727272;
}

nav a:hover {
	background-color: #39aae1;
	color: #FFF;
}

.btn {
display: block;
width: 120px;
height: 20px;
padding: 8px;
background-color: #39aae1;
color: #FFF;
border-radius: 5px;
text-decoration: none;
text-align: center;
font-weight: bold;
font-family: Arial;
}








footer {
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
	color: #FFF;
	height: 200px;
	padding: 30px;

}

.footer_menu{
	display: flex;
}

.div1 {
	align-items: center;
}



#banner {
	background-image: url('banner.jpeg');
	background-position: center;
	background-size: cover;
	height: 570px;
	
}


table {
	border-collapse: collapse;
}












